In [1]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.linear_model import LogisticRegression

In [19]:
def wrangle(file):
    df = pd.read_csv(file)
    cols_to_drop =['Adm5', 'Adm6', 'Geo1', 'econ4']
   
    
    df.drop(columns = cols_to_drop, inplace=True)
    #mask = df['Class'].str.contains('Recurrent')
    #df = df[mask]
    return df

In [20]:
df = wrangle('kenya-boost-2006-2018.csv')
df.head()

/tmp/ipykernel_27302/1159460004.py:2: DtypeWarning: Columns (0,1,2,3,4,5,6,7,9,10,11,12,15,16,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)

Empty DataFrame
Columns: [Year, Class, Adm1, Adm2, Adm3, Adm4, Econ0, econ1, econ2, econ3, FndSrce1, function1, function2,  Estimates ,  Revised ,  Executed ]
Index: []

In [18]:
columns = df.columns
for col in columns:
    print(f'Value counts for {col} column')
    try:
        print(df[col].value_counts())
    except Exception as e:
        print(f"Error in column '{col}': {e}")
    print('------------------')

Value counts for Year column
Year
2007/8     38585
2012/13    36485
2011/12    34452
2009/10    33022
2008/9     32181
2010/11    31438
2006/7     31379
2005/6     26199
Name: count, dtype: int64
------------------
Value counts for Class column
Class
Development    162030
Recurrent      101711
Name: count, dtype: int64
------------------
Value counts for Adm1 column
Adm1
Constituency Fund    136022
Central              102027
 Central              13688
Local Authorities     11928
Social security          76
Name: count, dtype: int64
------------------
Value counts for Adm2 column
Adm2
104 Ministry of Foreign Affairs                                              9698
119 Ministry of Livestock Development                                        7411
101 Ministry of State for Provincial Administration and Internal Security    7042
131 Ministry of Education                                                    6471
110 Ministry of Agriculture                                                  5353
                                                                             ...
134 Ethics and Anti-Corruption Commission                                      14
 067 Yatta                                                                      8
210 National Police Service Commission                                          4
161 Interim Independent Boundaries Review Commission                            2
112 SAMBURU WEST                                                                1
Name: count, Length: 492, dtype: int64
------------------
Value counts for Adm3 column
Adm3
104.041 Diplomatic Representation                               9197
119.191 Livestock Development                                   3641
101.017 Police Department                                       3488
131.310 General Administration and Planning                     3146
110.103 Facilitation And Supply Of Agriculture Extension Ser    3075
                                                                ...
102.023                                                            1
 145.450 General Adminstration and Planning                        1
151.511 .Ordinary Pension                                          1
151.512 .Commuted Pension                                          1
151.513 .Other Pension Schemes                                     1
Name: count, Length: 225, dtype: int64
------------------
Value counts for Adm4 column
Adm4
31.310.862 District Administrative Services                                   1524
16.166.752 Foreign Trade Services                                             1237
06.061.207 Rural Planning Department                                           875
31.311.816 Training Field Services                                             724
17.170.557 Headquarter Administrative Services                                 531
                                                                              ...
146.0001.00 Kenyatta International Conference Centre                             1
145.0001.00 Headquarters Field Services Training School and Liaison Office       1
131.0014.00 Science F.quipment Production Unit                                   1
131.0015.00 Post Primary Schools                                                 1
118.0034.00 National Council for Children`s Services                             1
Name: count, Length: 2064, dtype: int64
------------------
Value counts for Econ0 column
Econ0
Expenditures      257989
A-in-A              3969
Below the line      1783
Name: count, dtype: int64
------------------
Value counts for econ1 column
econ1
Capital                            129637
Other recurrent                     87299
capital                             23530
Personnel                           17499
Fees                                 3086
Grants/Loans                         1392
Debt redemption                      1212
Acquisition of financial assets        52
Financing                              24
LATF                                    8
 Debt redemption                        2
Name: count, dtype: int64
------------------
Value counts for econ2 column
econ2
Capital                                126824
Goods and Services                      63379
capital                                 23943
Travel                                  10511
Wages, Salaries and Contributions        9121
Allowances                               8375
Transfers                                5809
Training                                 4787
Fees                                     3086
Vehicles                                 2350
Other                                    1522
Debt redemption                          1212
Grants                                    996
Goods and services                        851
goods and services                        417
Loans                                     305
grants                                     91
vehicles                                   50
Domestic assets                            43
Interest                                   24
training                                   19
Foreign assets                              9
LATF                                        8
travel                                      4
 Wages, Salaries and Contributions          3
 Debt redemption                            2
Name: count, dtype: int64
------------------
Value counts for econ3 column
econ3
3110500 Construction and Civil Works                                                 65146
3110200 Construction of Buidings                                                     53236
2220200 Routine Maintenance - Other Assets                                           11764
2211100 Office and General Supplies and Services                                      9242
2210300 Domestic Travel and Subsisitence, and Other Transportation Costs              6430
                                                                                     ...
2111200                                                                                  1
3510660 Sale of Vehicles and Transport Equipment                                         1
2210407 State visits abroad                                                              1
1320000 Membership Fees and Dues and Subscriptions to International Organisations        1
3520300 Receipts from the Sale`of Inventories, Stocks and Commodities                    1
Name: count, Length: 623, dtype: int64
------------------
Value counts for FndSrce1 column
FndSrce1
00 Domestic RESOURCES            398702
00 Domestic Resources            322104
11 Revenue                         3567
21 Revenue                         2642
12 Appropriation in Aid (AIA)      1807
22 Appropriation in Aid (AIA)       908
22 Appropriation In Aid (Aia)       680
12 Appropriation In Aid (Aia)       411
Name: count, dtype: int64
------------------
Value counts for function1 column
function1
Human Resource Development                           107970
Agriculture and Rural Development                     22553
Public Administration and International Relations     21529
Governance, Justice, Law and Order                    19712
Physical Infrastructure                               19693
Other                                                 17428
Environment, water and irrigation                     15368
Special Programmes                                     9104
Trade, Tourism and Industry                            8956
Environment, Water and Irrigation                      8591
Governance, justice, law and order                     5539
Research,Innovation and Technology                     4160
Special programmes                                     1820
National Security                                       548
other                                                   461
Debt/Pensions                                           116
Environment, Water and irrigation                        96
Agriculture and rural development                        86
Human resource development                               11
Name: count, dtype: int64
------------------
Value counts for function2 column
function2
Education                                              73376
Governance, Justice, Law and Order                     22614
Agriculture and Rural Development                      20276
Public Administration and International Relations      18618
Health and sanitation                                  16432
Water                                                  14317
Physical Infrastructure                                 8905
education                                               8720
Other                                                   8250
Special Programmes                                      7857
Trade, Tourism and Industry                             7584
Environment                                             5188
Administration/emergency/monitoring/other               5138
Administration/Emergency/Monitoring/other               4042
Labour                                                  3734
Research,Innovation and Technology                      3608
Roads/bridges                                           3262
water                                                   3179
 Public Administration and International Relations      2911
electrification                                         2780
 Governance, Justice, Law and Order                     2637
Roads/Bridges                                           2293
 Agriculture and Rural Development                      2277
health and sanitation                                   1732
Bursary                                                 1399
 Trade, Tourism and Industry                            1372
 Special programmes                                     1247
roads/bridges                                           1224
Youth/sports                                            1189
 Physical Infrastructure                                1062
 Education                                               785
 Health and sanitation                                   745
 Research,Innovation and Technology                      552
National Security                                        548
youth/sports                                             545
 Environment                                             529
 Labour                                                  470
environment                                              408
 water                                                   399
Health and sanitationh                                   291
bursary                                                  236
Electrification                                          162
Youth/Sports                                              86
Agriculture and rural development                         86
Pensions                                                  70
EDUCATION                                                 58
Debt                                                      40
 Water                                                    30
 Electrification                                           5
ENVIRONMENT                                                5
 Administration/emergency/monitoring/other                 4
 Bursary                                                   1
 education                                                 1
 bursary                                                   1
Name: count, dtype: int64
------------------
Value counts for  Estimates  column
 Estimates
 200,000       20513
 300,000       16228
 100,000       13975
 500,000       13958
 400,000       10113
               ...
 4,321,781         1
 1,472,527         1
 107,186           1
 167,285           1
 664,510           1
Name: count, Length: 54314, dtype: int64
------------------
Value counts for  Revised  column
 Revised
 -                  40719
 200,000            20303
 300,000            16006
 100,000            13837
 500,000            13551
                    ...
 769,000                1
 42,229                 1
 63,470                 1
 124,300                1
 24,759,985,337         1
Name: count, Length: 43552, dtype: int64
------------------
Value counts for  Executed  column
 Executed
 -             176146
 500,000          224
 100,000          202
 200,000          202
 1,000,000        187
                ...
 1,004,555          1
 1,192,629          1
 158,627            1
 6,853,964          1
 2,201,965          1
Name: count, Length: 76468, dtype: int64
------------------